body {
    background-color: #f4f7f8;
}

.navbar {
    margin: 2rem 0 2,5rem 0;
}

.my-navbar {
    align-items: center;
    background-color: cornflowerblue;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 1cm;
}