body {
    background-color: #f4f7f8;
}

.navbar {
    margin: 2rem 0 2,5rem 0;
}

.my-navbar {
    align-items: center;
    background-color: #333;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 1cm;
}

.my-navbar-brand {
    font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
    color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}