body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

h3 {
    margin-bottom: 30px;
}

th {
    height: 80px;
    width: 120px;
    text-align: center;
}

td {
    height: 100px;
}

th:nth-of-type(1),
td:nth-of-type(1) {
    color: red;
}

th:nth-of-type(7),
td:nth-of-type(7) {
    color: blue;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.month {
    width: 120px;
    display: inline-block;
}

.today {
    background: rgba(28, 169, 97, 0.1);
}